
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #000000;
    width: 100%;
    height: 100%;   
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #33ff00;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay: .5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: Orbitron;
}

body{
    background: #000;
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container span{
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color: #6ab04c;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}


.btn{

    padding: 15px 30px;
    margin: 7px 3px;
    margin-left: 5%;
    border: 2px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    background: none;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

button:hover
{
    color: #1760a0;
    background: #7dff03;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 10px #2196f3;
    transition-delay: 0.1s;
}

button span
{
    position: absolute;
    display: block;
}

#custom-button {
    padding: 15px 30px;
    margin: 7px 3px;
    margin-left: 5%;
    border: 2px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    background: none;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
  }
  
  #custom-button:hover {
    color: #1760a0;
    background: #7dff03;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 10px #2196f3;
    transition-delay: 0.1s;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  

::-webkit-scrollbar2{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

::-webkit-scrollbar{
    width: 0;
}
#scrollPath2{
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar2{
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar2:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

#progressbar2:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}